* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --color: #0f0;
}

.container {
    max-width: 100vw;
    max-height: 100vh;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 5px;
    background-color: #000;
}

.container > .square_block {
    width: 30px;
    height: 30px;
    background-color: #353535;
}
.container > .active {
    animation: animate infinite 1s linear;
}

@keyframes animate {
    from {
        background-color: transparent;
    }
    50% {
        background-color: var(--color);
    }
    to{
        background-color: transparent;
    }

}




.settings {
    transition: 1s;
    position: fixed;
    right: 0;
    top: 0;
    max-height: 100vh;
    height: 100%;
    width: 300px;
    border-radius: 10px 0 0 10px;
    background-color: rgba(0, 0, 0, .9);
    transform: translateX(0px);
    z-index: 999;
}

.settings > section {
    margin: 20px;
    margin-top: 40px;
}
.settings > section > label > h2 {
    color: var(--color);
    font-family: sans-serif;
    font-size: 50px;
    font-weight: 100;
    margin: 10px;
}
.settings > section > label > input {
    background-color: transparent;
    color: var(--color);
    border: none;
    width: 100%;
    height: 30px;
    outline: none;
    position: relative;
}
.settings > section > label:nth-child(2) > input {
    border-bottom: var(--color) 1px solid;
    box-shadow: 0 0 10px var(--color) ;
    border-radius: 10px;
    padding-left: 20px;
}

.active_settings {
    transform: translateX(100%);
}

.settings > .toggle_setting {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background: none;
    background-image: linear-gradient(to right, rgba(0, 0, 0, .9) 50%, rgba(0, 0, 0, 0) 50%);
    border: none;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    cursor: pointer;
    z-index: -100;
}
.settings > .toggle_setting > div {
    transition: 1s;
    margin: 8px 0 8px 20px;
    height: 4px;
    width: 30px;
    background-color: var(--color);
}


.show_menu {
    transform: rotate(-45deg) translateX(-1px);
}
.show_menu:last-child {
    transform: rotate(45deg) translateX(-1px);

}
.hide_menu {
    transform: rotate(45deg) translateX(1px);
}
.hide_menu:last-child {
    transform: rotate(-45deg) translateX(1px);
}
